<%- include('layout/header') %>

    <!-- slider-start -->
    <div class="slider-area pos-relative">
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center justify-content-center" style="background-image: url(/img/nitttr_mbb.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-md-12">
                            <div class="slider-content slider-content-2">
                                <h1 class="white-color f-700" data-animation="fadeInUp" data-delay=".7s"><span>Centre for Rural and Entrepreneurship Development</span><br></h1>
                                <p data-animation="fadeInUp" data-delay="1.3s">Innovation Distinguishes between a leader and a follower</p>
                                <button class="theme-btn" data-animation="fadeInUp" data-delay="1.7s"><span class="btn-text">View More</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-height d-flex align-items-center justify-content-center" style="background-image: url(/img/nitttr_mbb.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-md-12 offset-xl-2">
                            <div class="slider-content slider-content-2 text-center">
                                <h1 class="white-color f-700" data-animation="fadeInUp" data-delay=".7s"><span>Centre for Rural and Entrepreneurship Development</span><br></h1>
                                <p data-animation="fadeInUp" data-delay="1.4s">Innovation Distinguishes between a leader and a follower</p>
                                <button class="theme-btn" data-animation="fadeInUp" data-delay="1.6s"><span class="btn-text">View More</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-height d-flex align-items-center justify-content-center" style="background-image: url(/img/nitttr_main.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-md-12">
                            <div class="slider-content slider-content-2">
                                <h1 class="white-color f-700" data-animation="fadeInUp" data-delay=".7s"><span>Centre for Rural and Entrepreneurship Development</span><br></h1>
                                <p data-animation="fadeInUp" data-delay="1.4s">Innovation Distinguishes between a leader and a follower</p>
                                <button class="theme-btn" data-animation="fadeInUp" data-delay="1.6s"><span class="btn-text">View More</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider-end -->
      <div class="hwrap">
            <div class="hmove">
            <div class="hitem">The BJP-led National Democratic Alliance (NDA) on July 18 asserted it will contest the 2024  "huge majority"|<a href="#"> view more</a>|</div>
            <div class="hitem">Aliquam consequat varius consequat.<a href="#"> view more</a>|</div>
            <div class="hitem">Fusce dapibus turpis vel nisi malesuada sollicitudin.<a href="#"> view more</a>|</div>
            <div class="hitem">Pellentesque auctor molestie orci ut blandit.<a href="#"> view more</a>|</div>
          </div>
        </div>
    
    <!-- about start -->
    <div id="about" class="about-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                    <div class="about-title-section mb-30">
                        <h1>About Us</h1>
                        <p>
                       The majority of individuals living in rural areas and slums require assistance in adopting appropriate technology to improve their productivity and living standards. In response to this need, the National Institute of Technical Teachers Training and Research (NITTTR) established the Centre for Rural Development in 1979. The center aimed to create an extensive network that could facilitate the adoption of suitable technologies among rural communities and slum dwellers.</p>
                        <p>Recognizing the importance of rural entrepreneurship in enhancing the quality of life in rural areas, the center underwent a transformation and was renamed the "Centre for Rural and Entrepreneurship Development" (CRED). </p>
                        <button class="theme-btn blue-bg-border mt-20"><span class="btn-text">admit now</span></button>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="about-right-img mb-30">
                        <img src="/img/WhatsApp%20Image%202023-07-19%20at%209.51.15%20AM.jpeg" alt="">
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    <!-- about end -->
    <!-- courses start -->
    <div id="courses" class="courses-area courses-bg-height pt-100 pb-70" style="background-image: url(/img/courses/courses_bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="section-title mb-50 text-center">
                        <div class="section-title-heading mb-20">
                            <h1 class="white-color">Our Latest Interships</h1>
                        </div>
                        <div class="section-title-para">
                            <p class="white-color"> Introducing new Innovations to the World</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="courses-list">
                <div class="row courses-active">
                    <div class="col-xl-12">
                        <div class="courses-wrapper course-radius-none mb-30">
                            <div class="courses-thumb">
                                <a href="#"><img src="/img/courses/single_courses_thumb_01.jpg" alt=""></a>
                            </div>
                            <div class="courses-author">
                                <img src="/img/courses/coursesauthor1.png" alt="">
                            </div>
                            <div class="course-main-content clearfix">
                                <div class="courses-content">
                                    <div class="courses-category-name">
                                        <span>
                                            <a href="#">Web</a>
                                        </span>
                                    </div>
                                    <div class="courses-heading">
                                        <h1><a href="#">Web Designing</a></h1>
                                    </div>
                                    <div class="courses-para">
                                        <p>Learn Web Designing</p>
                                        <p>Last date for apply 1-08-2023</p>
                                        <p>Intership Start on 15-08-2023 to 20-10-2023</p>
                                    </div>
                                </div>
                            </div>
                            <div class="courses-wrapper-bottom clearfix">
                        
                                <div class="courses-button f-right">
                                    <a href="#">Apply NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="courses-wrapper course-radius-none mb-30">
                            <div class="courses-thumb">
                                <a href="#"><img src="/img/courses/single_courses_thumb_02.jpg" alt=""></a>
                            </div>
                            <div class="courses-author">
                                <img src="/img/courses/coursesauthor1.png" alt="">
                            </div>
                            <div class="course-main-content clearfix">
                                <div class="courses-content">
                                    <div class="courses-category-name">
                                        <span>
                                            <a href="#">Analytics</a>
                                        </span>
                                    </div>
                                    <div class="courses-heading">
                                        <h1><a href="#">Data Analytics</a></h1>
                                    </div>
                                    <div class="courses-para">
                                        <p>Learn Data Analytics</p>
                                        <p>Last date for apply 1-08-2023</p>
                                        <p>Intership Start on 15-08-2023 to 20-10-2023</p>
                                    </div>
                                </div>
                            </div>
                            <div class="courses-wrapper-bottom clearfix">
                       
                                <div class="courses-button f-right">
                                    <a href="#">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="courses-wrapper course-radius-none mb-30">
                            <div class="courses-thumb">
                                <a href="#"><img src="/img/courses/single_courses_thumb_03.jpg" alt=""></a>
                            </div>
                            <div class="courses-author">
                                <img src="/img/courses/coursesauthor1.png" alt="">
                            </div>
                            <div class="course-main-content clearfix">
                                <div class="courses-content">
                                    <div class="courses-category-name">
                                        <span>
                                            <a href="#">Communication</a>
                                        </span>
                                    </div>
                                    <div class="courses-heading">
                                        <h1><a href="#">English For Tommorow</a></h1>
                                    </div>
                                    <div class="courses-para">
                                         <p>Learn Communication Skills</p>
                                        <p>Last date for apply 1-08-2023</p>
                                        <p>Intership Start on 15-08-2023 to 20-10-2023</p>
                                    </div>
                                </div>
                            </div>
                            <div class="courses-wrapper-bottom clearfix">
                         
                                <div class="courses-button f-right">
                                    <a href="#">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="courses-wrapper course-radius-none mb-30">
                            <div class="courses-thumb">
                                <a href="#"><img src="/img/courses/single_courses_thumb_04.jpg" alt=""></a>
                            </div>
                            <div class="courses-author">
                                <img src="/img/courses/coursesauthor1.png" alt="">
                            </div>
                            <div class="course-main-content clearfix">
                                <div class="courses-content">
                                    <div class="courses-category-name">
                                        <span>
                                            <a href="#">English</a>
                                        </span>
                                    </div>
                                    <div class="courses-heading">
                                        <h1><a href="#">English For Tommorow</a></h1>
                                    </div>
                                    <div class="courses-para">
                                        <p>Learn Web Designing</p>
                                        <p>Last date for apply 1-08-2023</p>
                                        <p>Intership Start on 15-08-2023 to 20-10-2023</p>
                                    </div>
                                </div>
                            </div>
                            <div class="courses-wrapper-bottom clearfix">
                      
                                <div class="courses-button f-right">
                                    <a href="#">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- courses end -->
   
  
    <!--profile cards-->
    <section><br>
    <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1" id="profile_cards" >
                    <div class="section-title mb-50 text-center">
                        <div class="section-title-heading mb-20">
                            <h1 class="primary-color">Our Professionals</h1>
                        </div>
                        <div class="section-title-para">
                            <p class="gray-color">Belis nisl adipiscing sapien sed malesu diame lacus eget erat Cras mollis scelerisqu Nullam arcu liquam here was consequat.</p>
                        </div>
                    </div>
                </div>
<div class ="profile_cards" >
  
    <div class="card">
        <div class="card-image">
            <img src="/img/cred_profile_pics/cred_profile_pic1.jpeg" alt="Profile image">
        </div>
        <p class="name">Dr.K.S.Giridharan</p><h6>M.Tech., Ph.D</h6>
        <p> Professor and Head</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam recusandae alias in incidunt.<a href="https://cred-giridharan.netlify.app/"> view profile</a></p>
        <div class="socials">
       <a href="https://www.instagram.com/ksgnitttr/"> <button class="instagram"><i class="fab fa-instagram"></i></button></a>
            <a href="https://www.facebook.com/Giridharan%20Krishnapuram%20Subramaniyam"> <button class="facebook"><i class="fab fa-facebook"></i></button></a>
            <a href="https://www.linkedin.com/in/giridharan-k-s-nitttr-346499140"> <button class="linkedin"><i class="fab fa-linkedin"></i></button></a>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="/img/cred_profile_pics/cred_profile_pic2.png" alt="Profile image">
        </div>
        <p class="name">Dr. P.JAKULIN DIVYA MARY</p><h6> M. Tech., PhD</h6>
        <p>Assistant Professor</p>
        <p>Centre for Rural and Entrepreneurship Development, 
National Institute of Technical Teachers Training and Research, 
Chennai<a href="#"> view profile</a></p>
        <div class="socials">
           <a href="#"> <button class="instagram"><i class="fab fa-instagram"></i></button></a>
            <button class="facebook"><i class="fab fa-facebook"></i></button>
            <button class="linkedin"><i class="fab fa-linkedin"></i></button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="/img/cred_profile_pics/cred_profile_pic3.jpeg" alt="Profile image">
        </div>
        <p class="name">Dr. M. Anil Kumar</p><h6> M. Tech., PhD</h6>
        <p> Associate Professor</p>
        <p>Centre for Rural and Entrepreneurship Development, 
National Institute of Technical Teachers Training and Research, 
Chennai<a href="#"> view profile</a></p>
        <div class="socials">
            <button class="instagram"><i class="fab fa-instagram"></i></button>
            <button class="facebook"><i class="fab fa-facebook"></i></button>
            <button class="linkedin"><i class="fab fa-linkedin"></i></button>
        </div>
    </div>
    </div>
    </section>
    
    <!--end-->
    <div id="events" class="events-area events-bg-height pt-100 pb-95" style="background-image: url(img/courses/courses_bg.png)">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="section-title mb-50 text-center">
                        <div class="section-title-heading mb-20">
                            <h1 class="white-color">Upcoming Events</h1>
                        </div>
                        <div class="section-title-para">
                            <p class="white-color">Recognizing the importance of rural entrepreneurship</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="events-list mb-30">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="single-events mb-30">
                            <div class="events-wrapper">
                                <div class="events-inner d-flex">
                                    <div class="events-thumb">
                                        <img src="/img/events/eventsthumb1.png" alt="">
                                    </div>
                                    <div class="events-text white-bg">
                                        <div class="event-text-heading mb-20">
                                            <div class="events-calendar text-center f-left">
                                                <span class="date">25</span>
                                                <span class="month">Sep, 2023</span>
                                            </div>
                                            <div class="events-text-title clearfix">
                                                <a href="#">
                                                    <h4>Business Conferences</h4>
                                                </a>
                                                <div class="time-area">
                                                    <span class="ti-time"></span>
                                                    <span class="published-time">05:23 AM - 09:23 AM</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="events-para">
                                            <p>Recognizing the importance of rural entrepreneurship</p>
                                        </div>
                                        <div class="events-speaker">
                                            <h2>Speaker : <span>Saleem</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-events mb-30">
                            <div class="events-wrapper">
                                <div class="events-inner d-flex">
                                    <div class="events-thumb">
                                        <img src="/img/events/eventsthumb2.png" alt="">
                                    </div>
                                    <div class="events-text white-bg">
                                        <div class="event-text-heading mb-20">
                                            <div class="events-calendar text-center f-left">
                                                <span class="date">25</span>
                                                <span class="month">Sep, 2023</span>
                                            </div>
                                            <div class="events-text-title clearfix">
                                                <a href="#">
                                                    <h4>Workshop Marketing</h4>
                                                </a>
                                                <div class="time-area">
                                                    <span class="ti-time"></span>
                                                    <span class="published-time">05:23 AM - 09:23 AM</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="events-para">
                                            <p>Recognizing the importance of rural entrepreneurship</p>
                                        </div>
                                        <div class="events-speaker">
                                            <h2>Speaker : <span>Sine Nitish</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="single-events mb-30">
                            <div class="events-wrapper">
                                <div class="events-inner d-flex">
                                    <div class="events-thumb">
                                        <img src="/img/events/eventsthumb3.png" alt="">
                                    </div>
                                    <div class="events-text white-bg">
                                        <div class="event-text-heading mb-20">
                                            <div class="events-calendar text-center f-left">
                                                <span class="date">25</span>
                                                <span class="month">Sep, 2023</span>
                                            </div>
                                            <div class="events-text-title clearfix">
                                                <a href="#">
                                                    <h4>Admission Fair 2023</h4>
                                                </a>
                                                <div class="time-area">
                                                    <span class="ti-time"></span>
                                                    <span class="published-time">05:23 AM - 09:23 AM</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="events-para">
                                            <p>Recognizing the importance of rural entrepreneurship</p>
                                        </div>
                                        <div class="events-speaker">
                                            <h2>Speaker : <span>Karthik</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-events mb-30">
                            <div class="events-wrapper">
                                <div class="events-inner d-flex">
                                    <div class="events-thumb">
                                        <img src="/img/events/eventsthumb4.png" alt="">
                                    </div>
                                    <div class="events-text white-bg">
                                        <div class="event-text-heading mb-20">
                                            <div class="events-calendar text-center f-left">
                                                <span class="date">25</span>
                                                <span class="month">Sep, 2023</span>
                                            </div>
                                            <div class="events-text-title clearfix">
                                                <a href="#">
                                                    <h4>Learning Spoken English</h4>
                                                </a>
                                                <div class="time-area">
                                                    <span class="ti-time"></span>
                                                    <span class="published-time">05:23 AM - 09:23 AM</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="events-para">
                                            <p>Recognizing the importance of rural entrepreneurship</p>
                                        </div>
                                        <div class="events-speaker">
                                            <h2>Speaker : <span>Lokesh</span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="events-view-btn">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="view-all-events text-center">
                            <button class="yewello-btn">view all events<span>&rarr;</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- events end -->
   
    <!-- video start -->
    <div class="video-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="video-wrapper text-center">
                        <div class="video-content">
                            <a class="popup-video" href="https://www.youtube.com/watch?v=6h8owo8cqug"><img src="/img/video/play_icon.png" alt=""></a>
                            <span>Watch Our Latest Video</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- video end -->
    
    
    <!--News and Events-->
     <div class="boxed_wrapper">
        <section class="latest-blog-area">
            <div class="container inner-content">
                <div class="sec-title text-center">
                    <div class="title"><h1>News and Updates</h1></div>
                </div>
                <div class="row">
                    <!--Start single blog post-->
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div class="single-blog-post wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="img-holder">
                                <img src="/img/gallery/evn/ev1.jpg" alt="Awesome Image">
                                <div class="overlay-style-two"></div>
                                <div class="overlay">
                                    <div class="box">
                                        <div class="link-icon">
                                            <a href="#"><span class="flaticon-zoom"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-holder">
                                <div class="post-date">
                                    <h3>02 <span>Mar 2019</span></h3>
                                </div>
                                <div class="meta-box">
                                    <ul class="meta-info">
                                        <li>By <a href="#">Rubin Santro</a></li>
                                        <li>In <a href="#">Contemporary</a></li>
                                    </ul>
                                </div>
                                <h3 class="blog-title"><a href="#">Low cost interior designing ideas</a></h3>
                                <div class="text">
                                    <p>Same as saying through shrinkings from toil & our pain these cases perfectly simple.</p>
                                    <a class="btn-two" href="#">Read More<span class="flaticon-next"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End single blog post-->
                    <!--Start single blog post-->
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div class="single-blog-post wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="img-holder">
                                <img src="/img/gallery/evn/evn.jpg" alt="Awesome Image">
                                <div class="overlay-style-two"></div>
                                <div class="overlay">
                                    <div class="box">
                                        <div class="link-icon">
                                            <a href="#"><span class="flaticon-zoom"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-holder">
                                <div class="post-date">
                                    <h3>24 <span>Feb 2019</span></h3>
                                </div>
                                <div class="meta-box">
                                    <ul class="meta-info">
                                        <li>By <a href="#">Mark Richrdson</a></li>
                                        <li>In <a href="#">Modern Paint</a></li>
                                    </ul>
                                </div>
                                <h3 class="blog-title"><a href="#">Commercial design for project</a></h3>
                                <div class="text">
                                    <p>Which is the same as saying through shrinking from toil and pain. These cases are perfectly.</p>
                                    <a class="btn-two" href="#">Read More<span class="flaticon-next"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End single blog post-->
                    <!--Start single blog post-->
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div class="single-blog-post wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="img-holder">
                                <img src="/img/gallery/evn/eve4.jpg" alt="Awesome Image">
                                <div class="overlay-style-two"></div>
                                <div class="overlay">
                                    <div class="box">
                                        <div class="link-icon">
                                            <a href="#"><span class="flaticon-zoom"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-holder">
                                <div class="post-date">
                                    <h3>18 <span>Jan 2019</span></h3>
                                </div>
                                <div class="meta-box">
                                    <ul class="meta-info">
                                        <li>By <a href="#">Rubin Santro</a></li>
                                        <li>In <a href="#">Contemporary</a></li>
                                    </ul>
                                </div>
                                <h3 class="blog-title"><a href="#">Our interior design prediction 2019</a></h3>
                                <div class="text">
                                    <p>Every pleasure is to be welcomed every pain avoided. in certain circumstances obligations.</p>
                                    <a class="btn-two" href="#">Read More<span class="flaticon-next"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End single blog post-->
                </div>
            </div>
         </section>
    </div>
    
    <!--END-->
    
    <!-- counter start -->
    <div class="counter-area">
        <div class="container pt-90 pb-65">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="couter-wrapper mb-30 text-center">
                        <img src="/img/counter/counter_icon1.png" alt="">
                        <span class="counter">10532</span>
                        <h3>Satisfied Students</h3>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="couter-wrapper mb-30 text-center">
                        <img src="/img/counter/counter_icon2.png" alt="">
                        <span class="counter">7985</span>
                        <h3>Courses Complated</h3>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="couter-wrapper mb-30 text-center">
                        <img src="/img/counter/counter_icon3.png" alt="">
                        <span class="counter">5382</span>
                        <h3>Satisfied Students</h3>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="couter-wrapper mb-30 text-center">
                        <img src="/img/counter/counter_icon4.png" alt="">
                        <span class="counter">354</span>
                        <h3>Expert Advisors</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter end -->
    
   
<%- include('layout/footer') %>