<!doctype html>
<html class="no-js" lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NITTTR</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/meanmenu.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- gallery-->
    <link rel="stylesheet" href="/css/gallery.css">
    <!--HOD's-->
    <!-- <link rel="stylesheet" href="/css/hods.css"> -->
    <!--skill-->
    <link rel="stylesheet" href="/css/skill.css">
    
   
    
</head>

<body>
    
    <!-- header-start -->
    <header id="home">
        <div class="header-area">
            <!-- header-top -->
            <div class="header-top primary-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                            <div class="header-contact-info d-flex">
                                <div class="header-contact header-contact-phone">
                                    <span class="ti-headphone"></span>
                                    <p class="phone-number">(+91-44) 2254 5406</p>
                                </div>
                                <div class="header-contact header-contact-email">
                                    <span class="ti-email"></span>
                                    <p class="email-name">crednitttr@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="header-social-icon-list">
                                <ul>
                                    <li><a href="#"><span class="ti-facebook"></span></a></li>
                                    <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                                    <li><a href="#"><span class="ti-dribbble"></span></a></li>
                                    <li><a href="#"><span class="ti-google"></span></a></li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /end header-top -->
            <!-- header-bottom -->
            <div class="header-bottom-area header-sticky" style="transition: .6s;">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2 col-md-6 col-6">
                            <div class="logo">
                                <a href="#">
                                    <img  src="/img/cred_logo.png" alt="credlogo">
                                </a>
                            </div>
                        
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-6 col-6">
                            <div class="header-bottom-icon f-right">
                        
                            </div>
                            <div class="main-menu f-right">
                                <nav id="mobile-menu" style="display: block;">
                                    <ul>
                                        <li>
                                            <a href="/">Home</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="/aboutus">About us</a>
                                                </li>
                                                <li>
                                                    <a href="/timeline">Timeline</a>
                                                </li>
                                                 <li>
                                                    <a href="/pasthod">Past HOD's</a>
                                                </li>
                                                 <li>
                                                    <a href="/hodmessage">HOD Message</a>
                                                </li>
                                               
                                            </ul>
                                        </li>
                                        <!-- upto here {prople section need to be done} -->
                                        <li>
                                            <a href="#">People</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="#profile_cards">Faculty Directory</a>
                                                    <ul class="submenu">
                                                        <li>
                                                            <a href="https://cred-giridharan.netlify.app/" target="_blank">Dr.K.S Giridharan</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Dr.P.Jakulin Divya Mary</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Dr.M.Anil Kumar</a>
                                                        </li>
                                                        
                                                    </ul>
                                                </li>
                                               
                                                <li>
                                                    <a href="#">Staff Directory</a>
                                                    <ul class="submenu">
                                                       <li>
                                                           <a href="#">#</a>
                                                       </li>
                                                        
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#about">Research</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="#">Research Themes</a>
                                                </li>
                                                <li>
                                                    <a href="#">Research Centre</a>
                                                </li>
                                             
                                               
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#academics">Academics</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="#">Programmes</a>
                                                </li>
                                                <li>
                                                    <a href="#">Skill Development</a>
                                                    <ul class="submenu">
                                                       <li>
                                                           <a href="skill_dev_about.html">About</a>
                                                       </li>
                                                       <li>
                                                           <a href="SkillDT.html">Skill Development Traning</a>
                                                       </li>
                                                        <li>
                                                            <a href="Skill-iiab-8.html">IIAB-&-Section8</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                
                                                
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Events</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="#">News</a>
                                                </li>
                                                <li>
                                                    <a href="#">Events</a>
                                                </li>
                                              
                                            </ul>
                                        </li>
                                         <li>
                                            <a href="#">Careers</a>
                                            <ul class="submenu">
                                                
                                                <li>
                                                    <a href="#">Interships</a>
                                                </li>
                                                <li>
                                                    <a href="#">Project Positions</a>
                                                </li>
                                              
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="gallery.html">Gallery</a>
                                        </li>
                                        <li>
                                            <a href="contact_us.html">Reach us</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /end header-bottom -->
        </div>
    </header>

     <!-- JS here -
    
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/one-page-nav-min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.meanmenu.min.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.barfiller.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>-->
